<div class="col-md-12">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Oups ... Aucune statistique ...</h3>
        </div>
        <div class="panel-body">
            <p class="text-center"><strong>Oups ... Aucune statistique n'existe pour votre compte. Il semble que vous n'ayez jamais joué connecté !<br />
                    <a href="{{ path('cliches_home_home_index') }}">Lancez une partie</a> et revenez ensuite pour que vos statistiques d'utilisation s'affichent.</strong></p>
        </div>
    </div>
</div>