{% extends "CLICHESLayoutBundle::layout.html.twig" %}

{% block brandtitle %}Conditions générales d'utilisation{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/full-height-block.css') }}" type="text/css" />
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Conditions Générales d'Utilisation</h1>
        <p>A venir</p>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}