{% extends "CLICHESLayoutBundle::layout.html.twig" %}

{% block brandtitle %}Bienvenue sur Clichés!{% endblock %}

{% block content %}
    {% if sid is defined %}
    <div class="alert alert-info">
        <p>Hey, il semble que tu sois parti.e un peu vite ! <a href="{{ path('cliches_player_end_end', {'playerSession_id': sid}) }}">Clique ici pour retrouver les résultats de ta dernière partie.</a></p>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <div class="jumbotron">
                <div class="row">
                    <h2 class="text-center">Testez vos connaissances <br />en histoire de l'art grâce à Clichés!</h2>
                    <br />
                    {{ render(controller('CLICHESHomeBundle:Home:load')) }}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5">
            <h1 class="hidden">Bienvenue sur Clichés!</h1>
            <div class="panel panel-default">
                <div class="list-group">
                    <div class="list-group-item  list-group-item-success text-center jumbotron">
                        <a href="{{ path('cliches_home_home_discover') }}"><h2>Découvrez l'application !</h2></a>
                    </div>
                    <div class="list-group-item text-center jumbotron">
                        <h2>Partager, c'est nous aider !</h2>
                        <div class="addthis_inline_share_toolbox"></div>
                    </div>
                    <div class="list-group-item list-group-item-no-padding text-center">
                        <strong><a class="twitter-timeline"  href="https://twitter.com/clichesart" data-widget-id="729979472137601024">Tweets de @clichesart</a></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_sub %}
    <script>
        $('#cliches_homebundle_home_load_mode').addClass('btn-group').attr('data-toggle', 'buttons');
        $.each($('input[id^="cliches_homebundle_home_load_mode_"]'), function() {
            var id = $(this).attr('id');
            var labelTitle = $(this).next().text();
            $(this).next().remove();
            $(this).attr('autocomplete', 'off');
            $(this).wrap('<label></label>').parent().attr('for', id).addClass('btn btn-default').append(labelTitle);
            if($(this).attr('value') == 'modeField') {
                $(this).attr('checked', 'checked');
                $(this).parent().addClass('active');
            }
        });
        $('[data-toggle="popover"]').popover();
    </script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}