<div class="jumbotron">
    <h1 style="text-align: center;">Au revoir !</h1>

    <div style="text-align: center;"><a href="http://cliches.histoiredelart.fr"><img src="http://histoiredelart.fr/web/images/logo-big.png" style="max-width: 150px;"/></a></div>
    <br />
    <p>Hey ! Votre compte a bien été supprimé. <br />
        Nous sommes désolés de vous voir partir :( . Mais bon, nous espérons secrètement vous revoir bientôt sur Clichés! ;).</p>
    <br />
    <p>N'hésitez pas à nous transmettre les motivations qui vous ont poussé à supprimer votre compte en répondant à cet email.</p>
    <br />
    <p><small>Si vous n'avez pas demandé la suppresion de votre compte, contactez-nous au plus vite en répondant à cet email.</small></p>
</div>