{# src/DATA/DataBundle/Resources/views/Artwork/index.html.twig #}
 
{% extends "DATAImageBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %} 
    
{% block h1 %}
    Gestion des Fichiers :
{% endblock %}
    
{% block h1_extend %}
    <a class="btn btn-success btn-lg" href="{{ path('data_image_fileimage_register') }}">Ajouter un fichier</a>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Fichiers</li>
{% endblock %}    
    
{% block content %}
<div class="row">
    <section class="col-md-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert col-md-12 alert-success">
                {{ flashMessage }}
            </div>
            <br />
        {% endfor %}
           coucou
    </section>
</div>
{% endblock %}