{# src/DATA/PublicBundle/Resources/views/Artwork/view.html.twig #}
{% if data_data_entity_service.getSameAs(entity) != null %}
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading"><h2 class="little-h2">SameAs :</h2></div>
        <ul class="list-group">
            {% for sameAs in data_data_entity_service.getSameAs(entity) %}
                <li class="list-group-item"><a href="{{ sameAs.url }}" target="_blank">{{ sameAs.url }} <span class="glyphicon glyphicon-new-window"></span></a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}