{% extends "CASLayoutBundle::layout.html.twig" %}

{% block title %}
    Mot de passe - {{ parent() }}
{% endblock %}

{% block brandtitle %}
    Mot de passe
{% endblock %}

{% block h1 %}
    Mot de passe
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
    <li class="active">Mot de passe</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                {% block fos_user_content %}
                    {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
                {% endblock fos_user_content %}
            </div>
        </div>
    </div>
{% endblock %}
